In [1]:
from util_cleaning import *

## Data Preproprocessing

## 1. Power data cleaning

In [7]:
# power_2007 = power_clean(2007) 
power_2008 = power_clean(2008) 
power_2009 = power_clean(2009) 
power_2010 = power_clean(2010)

C:\Users\Jiajia\Documents\Github\PI_INF442\util_cleaning.py:15: RuntimeWarning: invalid value encountered in greater
  return np.where(np.abs(z)>threshold)

In [ ]:
power_all = pd.concat([power_2007, power_2008, power_2009, power_2010])
power_all.isna().sum()

In [9]:
power_2007.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/power_2007.csv',sep = ';',  index = False)
power_2008.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/power_2008.csv',sep = ';',  index = False)
power_2009.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/power_2009.csv',sep = ';',  index = False)
power_2010.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/power_2010.csv',sep = ';',  index = False)
power_all.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/power_all.csv',sep = ';',  index = False)

In [11]:
power_all.head()

,date,time,g_active_power,g_reactive_power,voltage,global_intensity,sub_1_kitchen,sub_2_laundry,sub_3_wh_ac
0,1/1/2007,00:00:00,2.580,0.136,241.97,10.6,0.0,0.0,0.0
1,1/1/2007,00:01:00,2.552,0.100,241.75,10.4,0.0,0.0,0.0
2,1/1/2007,00:02:00,2.550,0.100,241.64,10.4,0.0,0.0,0.0
3,1/1/2007,00:03:00,2.550,0.100,241.71,10.4,0.0,0.0,0.0
4,1/1/2007,00:04:00,2.554,0.100,241.98,10.4,0.0,0.0,0.0

## 2. Weather data cleaning

In [2]:
df = weather_clean()

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\stats.py:2419: RuntimeWarning: invalid value encountered in true_divide
  return (a - mns) / sstd
C:\Users\Jiajia\Documents\Github\PI_INF442\util_cleaning.py:15: RuntimeWarning: invalid value encountered in greater
  return np.where(np.abs(z)>threshold)

In [13]:
df.isna().sum()
df.head()

,date,time,numer_sta,pmer,tend,dd,ff,t,td,u,...,hbas,pres,rafper,per,ssfrai,perssfrai,rr1,rr3,nnuage1,hnuage1
0,2007-01-01,00:00:00,7149,101960.0,-70.0,220.0,9.8,286.65,284.85,89.0,...,450.0,100880.0,13.9,-10.0,0.0,-60.0,0.0,1.0,2.0,780.0
1,2007-01-01,03:00:00,7149,102010.0,40.0,240.0,7.2,285.65,282.25,80.0,...,1250.0,100920.0,13.9,-10.0,0.0,-60.0,0.0,0.2,2.0,780.0
2,2007-01-01,06:00:00,7149,102040.0,30.0,230.0,8.7,283.65,279.75,77.0,...,800.0,100950.0,14.9,-10.0,0.0,-60.0,0.0,0.0,2.0,780.0
3,2007-01-01,09:00:00,7149,102240.0,190.0,250.0,9.8,282.05,278.05,76.0,...,450.0,101140.0,14.4,-10.0,0.0,-30.0,0.4,0.4,2.0,450.0
4,2007-01-01,12:00:00,7149,102450.0,210.0,270.0,8.7,283.65,276.65,62.0,...,800.0,101350.0,13.9,-10.0,0.0,-60.0,0.0,0.0,1.0,840.0

In [14]:
## Data ouput to a .csv named 'orly_mq' with missing values
df.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/cleaned_weather.csv',sep = ';',  index = False)

In [ ]:
### discard those attributes with too many missing values(> 2000)
for col in df_weather.columns[2:]:
    if(df_weather[col].isin(['mq', 'NaN']).sum()>2000):
        df_weather.drop(columns = col, inplace = True)
df_weather.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/orly_2000.csv',sep = ';',  index = False)

In [ ]:
### discard those attributes with too many missing values(> 1000)
for col in df_weather.columns[2:]:
    if(df_weather[col].isin(['mq', 'NaN']).sum()>1000):
        df_weather.drop(columns = col, inplace = True)
df_weather.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/orly_1000.csv',sep = ';',  index = False)