In [1]:
from util_cleaning import *

## Data Preproprocessing

## 1. Power data cleaning

In [2]:
power_2007 = power_clean(2007) 
power_2008 = power_clean(2008) 
power_2009 = power_clean(2009) 
power_2010 = power_clean(2010)

C:\Users\Jiajia\Documents\Github\PI_INF442\util_cleaning.py:15: RuntimeWarning: invalid value encountered in greater
  return np.where(np.abs(z)>threshold)

In [3]:
power_2007.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/power_2007.csv',sep = ';',  index = False)
power_2008.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/power_2008.csv',sep = ';',  index = False)
power_2009.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/power_2009.csv',sep = ';',  index = False)
power_2010.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/power_2010.csv',sep = ';',  index = False)

In [4]:
power_2008.head()

,date,time,g_active_power,g_reactive_power,voltage,global_intensity,sub_1_kitchen,sub_2_laundry,sub_3_wh_ac
0,1/1/2008,00:00:00,1.620,0.070,241.25,6.6,0.0,0.0,18.0
1,1/1/2008,00:01:00,1.626,0.072,241.74,6.6,0.0,0.0,18.0
2,1/1/2008,00:02:00,1.622,0.072,241.52,6.6,0.0,0.0,18.0
3,1/1/2008,00:03:00,1.612,0.070,240.82,6.6,0.0,0.0,18.0
4,1/1/2008,00:04:00,1.612,0.070,240.80,6.6,0.0,0.0,18.0

## 2. Weather data cleaning

In [ ]:
df_weather = abstract_data()

In [ ]:
df_weather.head(10)

In [ ]:
## Data ouput to a .csv named 'orly_mq' with missing values
df_weather.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/orly_original.csv',sep = ';',  index = False)

In [ ]:
df_weather.describe() # 11656 records in total

In [ ]:
## There are We discard those attributes with too many missing values(> 5000) and other useless attibutes
for col in df_weather.columns[2:]:
    if(df_weather[col].isin(['mq', 'NaN']).sum()>5000):
        df_weather.drop(columns = col, inplace = True)
df_weather.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/orly_5000.csv',sep = ';',  index = False)

In [ ]:
df_weather.head(10)

In [ ]:
### discard those attributes with too many missing values(> 2000)
for col in df_weather.columns[2:]:
    if(df_weather[col].isin(['mq', 'NaN']).sum()>2000):
        df_weather.drop(columns = col, inplace = True)
df_weather.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/orly_2000.csv',sep = ';',  index = False)

In [ ]:
### discard those attributes with too many missing values(> 1000)
for col in df_weather.columns[2:]:
    if(df_weather[col].isin(['mq', 'NaN']).sum()>1000):
        df_weather.drop(columns = col, inplace = True)
df_weather.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/orly_1000.csv',sep = ';',  index = False)

In [ ]:
for col in df_weather.columns[2:]:
    print(df_weather[col].isin(['mq', 'NaN']).sum())