In [1]:
from util import *

## Data Preproprocessing

### 1. Power data cleaning

In [2]:
df_power = load_data(dt = 'p', name = 2007)
df_power.head(20)

,date,time,g_active_power,g_reactive_power,voltage,global_intensity,sub_1_kitchen,sub_2_laundry,sub_3_wh_ac
0,1/1/2007,00:00:00,2.580,0.136,241.970,10.600,0.000,0.000,0.0
1,1/1/2007,00:01:00,2.552,0.100,241.750,10.400,0.000,0.000,0.0
2,1/1/2007,00:02:00,2.550,0.100,241.640,10.400,0.000,0.000,0.0
3,1/1/2007,00:03:00,2.550,0.100,241.710,10.400,0.000,0.000,0.0
4,1/1/2007,00:04:00,2.554,0.100,241.980,10.400,0.000,0.000,0.0
5,1/1/2007,00:05:00,2.550,0.100,241.830,10.400,0.000,0.000,0.0
6,1/1/2007,00:06:00,2.534,0.096,241.070,10.400,0.000,0.000,0.0
7,1/1/2007,00:07:00,2.484,0.000,241.290,10.200,0.000,0.000,0.0
8,1/1/2007,00:08:00,2.468,0.000,241.230,10.200,0.000,0.000,0.0
9,1/1/2007,00:09:00,2.486,0.000,242.180,10.200,0.000,0.000,0.0
10,1/1/2007,00:10:00,2.492,0.000,242.460,10.200,0.000,0.000,0.0
11,1/1/2007,00:11:00,2.500,0.000,242.880,10.200,0.000,0.000,0.0
12,1/1/2007,00:12:00,2.494,0.000,242.570,10.200,0.000,0.000,0.0
13,1/1/2007,00:13:00,2.492,0.000,242.410,10.200,0.000,0.000,0.0
14,1/1/2007,00:14:00,2.480,0.000,241.810,10.200,0.000,0.000,0.0
15,1/1/2007,00:15:00,2.478,0.000,241.730,10.200,0.000,0.000,0.0
16,1/1/2007,00:16:00,2.470,0.000,241.290,10.200,0.000,0.000,0.0
17,1/1/2007,00:17:00,2.466,0.000,241.110,10.200,0.000,0.000,0.0
18,1/1/2007,00:18:00,2.456,0.000,240.590,10.200,0.000,0.000,0.0
19,1/1/2007,00:19:00,2.460,0.000,240.830,10.200,0.000,0.000,0.0

### 2. Missing values

In [ ]:
# check the missing values
df_power.isna().sum()

In [3]:
# complete the missing values by interpolation
df_power.interpolate(method = 'linear', limit_direction='forward', inplace = True) # we can also use 'backward' direction which doesnot matter 
df_power.head()

,date,time,g_active_power,g_reactive_power,voltage,global_intensity,sub_1_kitchen,sub_2_laundry,sub_3_wh_ac
0,1/1/2007,00:00:00,2.580,0.136,241.970,10.600,0.000,0.000,0.0
1,1/1/2007,00:01:00,2.552,0.100,241.750,10.400,0.000,0.000,0.0
2,1/1/2007,00:02:00,2.550,0.100,241.640,10.400,0.000,0.000,0.0
3,1/1/2007,00:03:00,2.550,0.100,241.710,10.400,0.000,0.000,0.0
4,1/1/2007,00:04:00,2.554,0.100,241.980,10.400,0.000,0.000,0.0

### 3. Detecting and removing outliers with Z-score

In [ ]:
from scipy import stats
import numpy as np
z = np.abs(stats.zscore(df_power[df_power.columns[2:]], axis = 1))
print(z)

In [ ]:
from scipy import stats
import numpy as np
z = df_power['g_active_power']
stats.zscore(z, axis = 1)

### 2. Weather data cleaning

In [ ]:
from datetime import datetime 
df = pd.read_csv('E:/PI_INF442/p1-power-weather/weather/synop.200701.csv', ';', low_memory = False)
df = df.iloc[:,:-1]

In [ ]:
fulltime = df['date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d%H%M%S'))
df.insert(0,'fulltimee', fulltime)

In [ ]:
df.head()

In [ ]:
# df['new_date'] = [d.date() for d in df['date']]
# df['new_time'] = [d.time() for d in df['date']]
df.head(100)

In [ ]:
### Since we need only the weather data concerning the households in Sceaux, we extracte the weather data of the Meteo station Orly with its code 7149
def abstract_data(code = 7149):
    df = pd.DataFrame(columns = ['date','time', 'numer_sta', 'pmer', 'tend', 'cod_tend', 'dd', 'ff', 't', 'td',
       'u', 'vv', 'ww', 'w1', 'w2', 'n', 'nbas', 'hbas', 'cl', 'cm', 'ch',
       'pres', 'niv_bar', 'geop', 'tend24', 'tn12', 'tn24', 'tx12', 'tx24',
       'tminsol', 'sw', 'tw', 'raf10', 'rafper', 'per', 'etat_sol', 'ht_neige',
       'ssfrai', 'perssfrai', 'rr1', 'rr3', 'rr6', 'rr12', 'rr24', 'phenspe1',
       'phenspe2', 'phenspe3', 'phenspe4', 'nnuage1', 'ctype1', 'hnuage1',
       'nnuage2', 'ctype2', 'hnuage2', 'nnuage3', 'ctype3', 'hnuage3',
       'nnuage4', 'ctype4', 'hnuage4'])
    for i in range(4):
        for j in range(12):
            name = str(200701 + i*100 + j)
            df_tmp = load_data(dt = 'w', name = name)
            df_tmp = df_tmp.loc[df_tmp['numer_sta']== 7149]
            df_tmp = df_tmp.iloc[:,:-1]
            fulltime = df_tmp['date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d%H%M%S'))
            df_tmp.drop(columns = ['date'], inplace = True)
            df_tmp['date'] = fulltime.dt.date
            df_tmp['time'] = fulltime.dt.time
            df = pd.concat([df, df_tmp])
    df.reset_index(drop = True, inplace = True)
    return df

In [ ]:
df_weather = abstract_data()

In [ ]:
df_weather.head(10)

In [ ]:
## Data ouput to a .csv named 'orly_mq' with missing values
df_weather.to_csv('E:/PI_INF442/p1-power-weather/weather/orly_original.csv',sep = ';',  index = False)

In [ ]:
df_weather.describe() # 11656 records in total

In [ ]:
## There are We discard those attributes with too many missing values(> 5000) and other useless attibutes
for col in df_weather.columns[2:]:
    if(df_weather[col].isin(['mq', 'NaN']).sum()>5000):
        df_weather.drop(columns = col, inplace = True)
df_weather.to_csv('E:/PI_INF442/p1-power-weather/weather/orly_5000.csv',sep = ';',  index = False)

In [ ]:
### discard those attributes with too many missing values(> 2000)
for col in df_weather.columns[2:]:
    if(df_weather[col].isin(['mq', 'NaN']).sum()>2000):
        df_weather.drop(columns = col, inplace = True)
df_weather.to_csv('E:/PI_INF442/p1-power-weather/weather/orly_2000.csv',sep = ';',  index = False)

In [ ]:
### discard those attributes with too many missing values(> 1000)
for col in df_weather.columns[2:]:
    if(df_weather[col].isin(['mq', 'NaN']).sum()>1000):
        df_weather.drop(columns = col, inplace = True)
df_weather.to_csv('E:/PI_INF442/p1-power-weather/weather/orly_1000.csv',sep = ';',  index = False)

In [ ]:
for col in df_weather.columns[2:]:
    print(df_weather[col].isin(['mq', 'NaN']).sum())