In [25]:
from util import *

## 1. Cleaning the power data

In [26]:
df_power = load_data(dt = 'p', name = 2007)

In [ ]:
# check the missing values
df_power.isna().sum()

In [27]:
# complete the missing values by interpolation
df_power.interpolate(method = 'linear', limit_direction='forward', inplace = True) # we can also use 'backward' direction which doesnot matter 
df_power.isna().sum()

date                0
time                0
g_active_power      0
g_reactive_power    0
voltage             0
global_intensity    0
sub_1_kitchen       0
sub_2_laundry       0
sub_3_wh_ac         0
dtype: int64

## 2. Cleaning the weather data

In [14]:
### Since we need only the weather data concerning the households in Sceaux, we extracte the weather data of the Meteo station Orly with its code 7149
def abstract_data(code = 7149):
    df = pd.DataFrame(columns = ['numer_sta', 'date', 'pmer', 'tend', 'cod_tend', 'dd', 'ff', 't', 'td',
       'u', 'vv', 'ww', 'w1', 'w2', 'n', 'nbas', 'hbas', 'cl', 'cm', 'ch',
       'pres', 'niv_bar', 'geop', 'tend24', 'tn12', 'tn24', 'tx12', 'tx24',
       'tminsol', 'sw', 'tw', 'raf10', 'rafper', 'per', 'etat_sol', 'ht_neige',
       'ssfrai', 'perssfrai', 'rr1', 'rr3', 'rr6', 'rr12', 'rr24', 'phenspe1',
       'phenspe2', 'phenspe3', 'phenspe4', 'nnuage1', 'ctype1', 'hnuage1',
       'nnuage2', 'ctype2', 'hnuage2', 'nnuage3', 'ctype3', 'hnuage3',
       'nnuage4', 'ctype4', 'hnuage4', 'Unnamed: 59'])
    for i in range(4):
        for j in range(12):
            name = str(200701 + i*100 + j)
            df_tmp = load_data(dt = 'w', name = name)
            df_tmp = df_tmp.loc[df_tmp['numer_sta']== 7149]
            df = pd.concat([df, df_tmp])
    return df

In [42]:
df_weather = abstract_data()

In [43]:
## We discard those attributes with too many missing values and other useless attibutes
df_weather = df_weather[['date', 'pmer', 'tend', 'cod_tend', 'dd', 'ff', 't', 'td', 'u', 'vv', 'pres','rafper', 'per']]
df_weather = df_weather.reset_index(drop =True)
df_weather.head(50)

,date,pmer,tend,cod_tend,dd,ff,t,td,u,vv,pres,rafper,per
0,20070101000000,101960,-70,6,220,9.800000,286.650000,284.850000,89,20000,100880,18.000000,-10
1,20070101030000,102010,40,3,240,7.200000,285.650000,282.250000,80,20000,100920,13.900000,-10
2,20070101060000,102040,30,3,230,8.700000,283.650000,279.750000,77,20000,100950,14.900000,-10
3,20070101090000,102240,190,3,250,9.800000,282.050000,278.050000,76,17000,101140,18.000000,-10
4,20070101120000,102450,210,0,270,8.700000,283.650000,276.650000,62,25000,101350,13.900000,-10
5,20070101150000,102320,-130,6,210,5.100000,282.550000,276.950000,68,25000,101220,8.700000,-10
6,20070101180000,101920,-400,8,170,3.100000,281.150000,277.950000,80,16000,100820,7.200000,-10
7,20070101210000,101660,-270,8,220,7.200000,279.150000,277.750000,91,6000,100550,12.900000,-10
8,20070102000000,102090,430,3,280,9.800000,280.050000,276.350000,77,25000,100980,18.000000,-10
9,20070102030000,102540,440,1,270,6.200000,278.650000,275.850000,82,25000,101420,12.900000,-10
10,20070102060000,102670,120,1,240,4.100000,277.650000,274.850000,82,20000,101540,10.800000,-10
11,20070102090000,102760,100,1,250,7.200000,278.450000,275.950000,84,20000,101640,9.800000,-10
12,20070102120000,102730,-30,8,260,8.200000,279.750000,277.750000,87,12000,101610,12.900000,-10
13,20070102150000,102760,40,3,280,7.200000,280.950000,278.050000,82,14000,101650,13.900000,-10
14,20070102180000,102990,220,3,280,6.200000,280.350000,277.350000,81,17000,101870,10.800000,-10
15,20070102210000,103180,190,2,250,4.100000,280.450000,277.450000,81,15000,102060,10.800000,-10
16,20070103000000,103310,130,1,270,4.100000,279.650000,277.650000,87,15000,102190,6.200000,-10
17,20070103030000,103460,140,2,250,4.100000,277.950000,276.450000,90,15000,102330,6.200000,-10
18,20070103060000,103400,-60,6,220,2.100000,277.750000,276.250000,90,15000,102270,5.100000,-10
19,20070103090000,103390,-10,5,180,3.100000,277.750000,276.050000,89,18000,102260,4.100000,-10
20,20070103120000,103250,-130,8,190,4.100000,280.250000,278.450000,88,12000,102130,8.200000,-10
21,20070103150000,102940,-310,6,200,5.100000,280.750000,278.850000,88,16000,101820,8.700000,-10
22,20070103180000,102710,-230,8,180,6.200000,279.950000,278.150000,88,16000,101590,9.800000,-10
23,20070103210000,102370,-330,6,200,6.200000,280.750000,278.350000,85,20000,101260,10.800000,-10
24,20070104000000,102060,-310,8,200,7.200000,280.850000,278.850000,87,25000,100950,13.900000,-10
25,20070104030000,101780,-270,6,210,7.200000,280.250000,279.150000,93,14000,100680,11.800000,-10
26,20070104060000,101590,-190,6,210,5.100000,281.550000,280.450000,93,12000,100490,10.800000,-10
27,20070104090000,101700,110,3,240,5.100000,282.350000,280.750000,90,25000,100600,10.800000,-10
28,20070104120000,101770,80,1,260,7.200000,284.250000,279.950000,75,25000,100680,11.800000,-10
29,20070104150000,101840,70,3,250,5.100000,283.550000,278.550000,71,20000,100750,9.800000,-10
30,20070104180000,102060,210,1,260,5.100000,282.750000,277.550000,70,20000,100960,8.700000,-10
31,20070104210000,102230,170,1,260,3.100000,282.150000,278.150000,76,20000,101130,9.800000,-10
32,20070105000000,102360,120,1,230,4.100000,281.750000,279.250000,84,20000,101250,6.200000,-10
33,20070105030000,102410,60,3,240,3.100000,281.950000,279.350000,84,18000,101310,7.200000,-10
34,20070105060000,102440,20,1,230,4.100000,281.750000,279.850000,88,18000,101330,6.200000,-10
35,20070105090000,102440,10,3,200,5.100000,282.150000,279.950000,86,18000,101340,8.200000,-10
36,20070105120000,102410,-30,8,220,7.200000,283.850000,280.750000,81,22000,101310,9.800000,-10
37,20070105150000,102400,-10,5,220,6.200000,284.250000,280.950000,80,20000,101300,8.700000,-10
38,20070105180000,102400,0,0,210,4.100000,283.250000,281.850000,91,7000,101300,8.200000,-10
39,20070105210000,102370,-30,6,220,7.200000,283.950000,282.050000,88,20000,101270,9.800000,-10
40,20070106000000,102330,-30,8,220,6.200000,284.350000,282.950000,91,14000,101240,9.800000,-10
41,20070106030000,102270,-60,6,200,3.100000,284.350000,283.450000,94,4500,101180,8.200000,-10
42,20070106060000,102170,-100,6,210,6.200000,284.550000,283.650000,94,10000,101080,10.800000,-10
43,20070106090000,102150,-20,7,200,5.100000,284.550000,283.450000,93,13000,101060,9.800000,-10
44,20070106120000,101970,-180,8,210,7.200000,285.350000,283.050000,86,25000,100880,12.900000,-10
45,20070106150000,101760,-200,6,200,6.200000,285.650000,283.150000,85,15000,100680,12.900000,-10
46,20070106180000,101710,-50,5,220,7.200000,285.550000,283.450000,87,20000,100630,11.800000,-10
47,20070106210000,102000,270,3,280,7.200000,282.350000,278.950000,79,25000,100900,14.900000,-10
48,20070107000000,102160,150,1,220,4.100000,280.150000,278.450000,89,25000,101050,7.200000,-10
49,20070107030000,102280,120,3,230,3.100000,279.850000,278.350000,90,20000,101170,5.100000,-10

In [44]:
df_weather['fulltime'] = df_weather['date']
df_weather['date'] = pd.to_datetime(df_weather['fulltime']).dt.date
df_weather['hour'] = pd.to_datetime(df_weather['fulltime']).dt.time

In [48]:
df[datel]=df[datel].apply(pd.to_datetime,format='%Y-%m-%d %H:%M:%S.%f')

AttributeError: module 'pandas' has no attribute 'numeric'

In [50]:
df_weather = df_weather.apply(pd.to_numeric, errors = 'coerce')

In [51]:
df_weather.head()

,date,pmer,tend,cod_tend,dd,ff,t,td,u,vv,pres,rafper,per,fulltime,hour
0,NaN,101960.0,-70.0,6.0,220.0,9.8,286.65,284.85,89.0,20000.0,100880.0,18.0,-10.0,20070101000000,NaN
1,NaN,102010.0,40.0,3.0,240.0,7.2,285.65,282.25,80.0,20000.0,100920.0,13.9,-10.0,20070101030000,NaN
2,NaN,102040.0,30.0,3.0,230.0,8.7,283.65,279.75,77.0,20000.0,100950.0,14.9,-10.0,20070101060000,NaN
3,NaN,102240.0,190.0,3.0,250.0,9.8,282.05,278.05,76.0,17000.0,101140.0,18.0,-10.0,20070101090000,NaN
4,NaN,102450.0,210.0,0.0,270.0,8.7,283.65,276.65,62.0,25000.0,101350.0,13.9,-10.0,20070101120000,NaN