In [1]:
from util import *

## Data Preproprocessing

### 1. Power data cleaning

In [143]:
# df_power = load_data(dt = 'p', name = 2007)
# df_power = load_data(dt = 'p', name = 2008)
# df_power = load_data(dt = 'p', name = 2009)
df_power = load_data(dt = 'p', name = 2010)
df_power.head(20)

,date,time,g_active_power,g_reactive_power,voltage,global_intensity,sub_1_kitchen,sub_2_laundry,sub_3_wh_ac
0,1/1/2010,00:00:00,1.790,0.236,240.650,7.400,0.000,0.000,18.0
1,1/1/2010,00:01:00,1.780,0.234,240.070,7.400,0.000,0.000,18.0
2,1/1/2010,00:02:00,1.780,0.234,240.150,7.400,0.000,0.000,19.0
3,1/1/2010,00:03:00,1.746,0.186,240.260,7.200,0.000,0.000,18.0
4,1/1/2010,00:04:00,1.686,0.102,240.120,7.000,0.000,0.000,18.0
5,1/1/2010,00:05:00,1.686,0.100,240.100,7.000,0.000,0.000,19.0
6,1/1/2010,00:06:00,1.680,0.100,239.720,7.000,0.000,0.000,18.0
7,1/1/2010,00:07:00,1.688,0.102,240.340,7.000,0.000,0.000,18.0
8,1/1/2010,00:08:00,1.676,0.072,241.000,6.800,0.000,0.000,19.0
9,1/1/2010,00:09:00,1.624,0.000,240.570,6.600,0.000,0.000,18.0
10,1/1/2010,00:10:00,1.622,0.000,240.480,6.600,0.000,0.000,19.0
11,1/1/2010,00:11:00,1.618,0.000,240.110,6.600,0.000,0.000,18.0
12,1/1/2010,00:12:00,1.612,0.000,239.720,6.600,0.000,0.000,18.0
13,1/1/2010,00:13:00,1.618,0.000,240.090,6.600,0.000,0.000,18.0
14,1/1/2010,00:14:00,1.622,0.000,240.380,6.600,0.000,0.000,19.0
15,1/1/2010,00:15:00,1.622,0.000,240.400,6.600,0.000,0.000,18.0
16,1/1/2010,00:16:00,1.620,0.000,240.340,6.600,0.000,0.000,18.0
17,1/1/2010,00:17:00,1.620,0.000,240.340,6.600,0.000,0.000,19.0
18,1/1/2010,00:18:00,1.622,0.000,240.440,6.600,0.000,0.000,18.0
19,1/1/2010,00:19:00,1.618,0.000,240.200,6.600,0.000,0.000,18.0

### 2. Detecting and removing outliers with Z-score

In [3]:
from scipy import stats
import numpy as np

In [144]:
### Convert the object type data to numeric data

# df_power['date'] = pd.to_datetime(df_power['date']).dt.date
# df_power['time'] = pd.to_datetime(df_power['time'], errors = 'coerce').dt.time
for c in df_power.columns[2:]:
    df_power[c] = pd.to_numeric(df_power[c], errors='coerce')

In [145]:
df_power.head()

,date,time,g_active_power,g_reactive_power,voltage,global_intensity,sub_1_kitchen,sub_2_laundry,sub_3_wh_ac
0,1/1/2010,00:00:00,1.790,0.236,240.65,7.4,0.0,0.0,18.0
1,1/1/2010,00:01:00,1.780,0.234,240.07,7.4,0.0,0.0,18.0
2,1/1/2010,00:02:00,1.780,0.234,240.15,7.4,0.0,0.0,19.0
3,1/1/2010,00:03:00,1.746,0.186,240.26,7.2,0.0,0.0,18.0
4,1/1/2010,00:04:00,1.686,0.102,240.12,7.0,0.0,0.0,18.0

In [116]:
### defining a function detecting with a set threshold, usually 3 by default. attetion ! we could use only numeric dataframes
def detect_outlier(data, threshold = 3):
    z = stats.zscore(data, nan_policy = 'omit')
    return np.where(np.abs(z)>threshold)  

### defining a function deleting the outliers of a DataFrame after detection
def delete_outlier(data, threshold = 3):
    arr = detect_outlier(data, threshold = threshold)
    data.drop(data.index[arr], inplace = True)
    return data

In [146]:
for col in df_power.columns[2:]:
    df_power[col] = delete_outlier(df_power[col])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in greater
  after removing the cwd from sys.path.

In [147]:
df_power.head()

,date,time,g_active_power,g_reactive_power,voltage,global_intensity,sub_1_kitchen,sub_2_laundry,sub_3_wh_ac
0,1/1/2010,00:00:00,1.790,0.236,240.65,7.4,0.0,0.0,18.0
1,1/1/2010,00:01:00,1.780,0.234,240.07,7.4,0.0,0.0,18.0
2,1/1/2010,00:02:00,1.780,0.234,240.15,7.4,0.0,0.0,19.0
3,1/1/2010,00:03:00,1.746,0.186,240.26,7.2,0.0,0.0,18.0
4,1/1/2010,00:04:00,1.686,0.102,240.12,7.0,0.0,0.0,18.0

### 2. Missing values

In [148]:
# check the missing values
df_power.isna().sum()

date                    0
time                    0
g_active_power      25395
g_reactive_power    22987
voltage             21028
global_intensity    25374
sub_1_kitchen       28566
sub_2_laundry       26255
sub_3_wh_ac         17629
dtype: int64

In [149]:
# complete the missing values by interpolation
df_power.interpolate(method = 'linear', limit_direction='forward', inplace = True) # we can also use 'backward' direction which doesnot matter 
df_power.head()

,date,time,g_active_power,g_reactive_power,voltage,global_intensity,sub_1_kitchen,sub_2_laundry,sub_3_wh_ac
0,1/1/2010,00:00:00,1.790,0.236,240.65,7.4,0.0,0.0,18.0
1,1/1/2010,00:01:00,1.780,0.234,240.07,7.4,0.0,0.0,18.0
2,1/1/2010,00:02:00,1.780,0.234,240.15,7.4,0.0,0.0,19.0
3,1/1/2010,00:03:00,1.746,0.186,240.26,7.2,0.0,0.0,18.0
4,1/1/2010,00:04:00,1.686,0.102,240.12,7.0,0.0,0.0,18.0

In [150]:
# df_power.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/power_2007.csv',sep = ';',  index = False)
# df_power.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/power_2008.csv',sep = ';',  index = False)
# df_power.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/power_2009.csv',sep = ';',  index = False)
df_power.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/power_2010.csv',sep = ';',  index = False)

### 3. Detecting and removing outliers with Z-score

In [ ]:
from scipy import stats
import numpy as np
z = np.abs(stats.zscore(df_power[df_power.columns[2:]], axis = 1))
print(z)

In [ ]:
from scipy import stats
import numpy as np
z = df_power['g_active_power']
# stats.zscore(z[:,0:100])
zz = z.astype(float, errors = 'ignore')
stats.zscore(zz[1:10])

### 2. Weather data cleaning

In [ ]:
from datetime import datetime 
df = pd.read_csv('E:/PI_INF442/p1-power-weather/weather/synop.200701.csv', ';', low_memory = False)
df = df.iloc[:,:-1]

In [ ]:
fulltime = df['date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d%H%M%S'))
df.insert(0,'fulltimee', fulltime)

In [ ]:
df.head()

In [ ]:
# df['new_date'] = [d.date() for d in df['date']]
# df['new_time'] = [d.time() for d in df['date']]
df.head(100)

In [ ]:
### Since we need only the weather data concerning the households in Sceaux, we extracte the weather data of the Meteo station Orly with its code 7149
def abstract_data(code = 7149):
    df = pd.DataFrame(columns = ['date','time', 'numer_sta', 'pmer', 'tend', 'cod_tend', 'dd', 'ff', 't', 'td',
       'u', 'vv', 'ww', 'w1', 'w2', 'n', 'nbas', 'hbas', 'cl', 'cm', 'ch',
       'pres', 'niv_bar', 'geop', 'tend24', 'tn12', 'tn24', 'tx12', 'tx24',
       'tminsol', 'sw', 'tw', 'raf10', 'rafper', 'per', 'etat_sol', 'ht_neige',
       'ssfrai', 'perssfrai', 'rr1', 'rr3', 'rr6', 'rr12', 'rr24', 'phenspe1',
       'phenspe2', 'phenspe3', 'phenspe4', 'nnuage1', 'ctype1', 'hnuage1',
       'nnuage2', 'ctype2', 'hnuage2', 'nnuage3', 'ctype3', 'hnuage3',
       'nnuage4', 'ctype4', 'hnuage4'])
    for i in range(4):
        for j in range(12):
            name = str(200701 + i*100 + j)
            df_tmp = load_data(dt = 'w', name = name)
            df_tmp = df_tmp.loc[df_tmp['numer_sta']== 7149]
            df_tmp = df_tmp.iloc[:,:-1]
            fulltime = df_tmp['date'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d%H%M%S'))
            df_tmp.drop(columns = ['date'], inplace = True)
            df_tmp['date'] = fulltime.dt.date
            df_tmp['time'] = fulltime.dt.time
            df = pd.concat([df, df_tmp])
    df.reset_index(drop = True, inplace = True)
    return df

In [ ]:
df_weather = abstract_data()

In [ ]:
df_weather.head(10)

In [ ]:
## Data ouput to a .csv named 'orly_mq' with missing values
df_weather.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/orly_original.csv',sep = ';',  index = False)

In [ ]:
df_weather.describe() # 11656 records in total

In [ ]:
## There are We discard those attributes with too many missing values(> 5000) and other useless attibutes
for col in df_weather.columns[2:]:
    if(df_weather[col].isin(['mq', 'NaN']).sum()>5000):
        df_weather.drop(columns = col, inplace = True)
df_weather.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/orly_5000.csv',sep = ';',  index = False)

In [ ]:
### discard those attributes with too many missing values(> 2000)
for col in df_weather.columns[2:]:
    if(df_weather[col].isin(['mq', 'NaN']).sum()>2000):
        df_weather.drop(columns = col, inplace = True)
df_weather.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/orly_2000.csv',sep = ';',  index = False)

In [ ]:
### discard those attributes with too many missing values(> 1000)
for col in df_weather.columns[2:]:
    if(df_weather[col].isin(['mq', 'NaN']).sum()>1000):
        df_weather.drop(columns = col, inplace = True)
df_weather.to_csv('E:/PI_INF442/p1-power-weather/cleaned_data/orly_1000.csv',sep = ';',  index = False)

In [ ]:
for col in df_weather.columns[2:]:
    print(df_weather[col].isin(['mq', 'NaN']).sum())