In [2]:
from util import *
import numpy as np

In [3]:
df = load_data(dt = 'p', name = 2007)

In [5]:
df.head(20)

,date,time,g_active_power,g_reactive_power,voltage,global_intensity,sub_1_kitchen,sub_2_laundry,sub_3_wh_ac
0,1/1/2007,00:00:00,2.580,0.136,241.970,10.600,0.000,0.000,0.0
1,1/1/2007,00:01:00,2.552,0.100,241.750,10.400,0.000,0.000,0.0
2,1/1/2007,00:02:00,2.550,0.100,241.640,10.400,0.000,0.000,0.0
3,1/1/2007,00:03:00,2.550,0.100,241.710,10.400,0.000,0.000,0.0
4,1/1/2007,00:04:00,2.554,0.100,241.980,10.400,0.000,0.000,0.0
5,1/1/2007,00:05:00,2.550,0.100,241.830,10.400,0.000,0.000,0.0
6,1/1/2007,00:06:00,2.534,0.096,241.070,10.400,0.000,0.000,0.0
7,1/1/2007,00:07:00,2.484,0.000,241.290,10.200,0.000,0.000,0.0
8,1/1/2007,00:08:00,2.468,0.000,241.230,10.200,0.000,0.000,0.0
9,1/1/2007,00:09:00,2.486,0.000,242.180,10.200,0.000,0.000,0.0
10,1/1/2007,00:10:00,2.492,0.000,242.460,10.200,0.000,0.000,0.0
11,1/1/2007,00:11:00,2.500,0.000,242.880,10.200,0.000,0.000,0.0
12,1/1/2007,00:12:00,2.494,0.000,242.570,10.200,0.000,0.000,0.0
13,1/1/2007,00:13:00,2.492,0.000,242.410,10.200,0.000,0.000,0.0
14,1/1/2007,00:14:00,2.480,0.000,241.810,10.200,0.000,0.000,0.0
15,1/1/2007,00:15:00,2.478,0.000,241.730,10.200,0.000,0.000,0.0
16,1/1/2007,00:16:00,2.470,0.000,241.290,10.200,0.000,0.000,0.0
17,1/1/2007,00:17:00,2.466,0.000,241.110,10.200,0.000,0.000,0.0
18,1/1/2007,00:18:00,2.456,0.000,240.590,10.200,0.000,0.000,0.0
19,1/1/2007,00:19:00,2.460,0.000,240.830,10.200,0.000,0.000,0.0

In [4]:
test = time_rescale(df)

Processe begin...

Begin configuring datetime line ...done
Begin dropping bug data ... done

C:\Users\lu\Anaconda3\envs\tf2\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

done

In [5]:
test

,g_active_power,g_reactive_power,voltage,global_intensity,sub_1_kitchen,sub_2_laundry,sub_3_wh_ac
full_time,,,,,,,
2007-01-01 00:00:00,2.552122,0.097033,241.886000,10.504444,0.0,0.305556,0.000000
2007-01-01 03:00:00,2.497878,0.093311,242.690167,10.220000,0.0,0.283333,0.000000
2007-01-01 06:00:00,2.448244,0.090367,240.893056,10.090000,0.0,0.200000,0.000000
2007-01-01 09:00:00,2.794622,0.083011,238.509500,11.650000,0.0,0.194444,4.838889
2007-01-01 12:00:00,2.024222,0.143100,239.028056,8.527778,0.0,0.266667,3.016667
...,...,...,...,...,...,...,...
2007-12-31 09:00:00,2.072356,0.113089,239.232444,8.706667,0.0,9.138889,3.738889
2007-12-31 12:00:00,2.294333,0.216144,240.895111,9.638889,0.0,8.838889,17.800000
2007-12-31 15:00:00,2.267200,0.094244,241.277222,9.406667,0.0,0.161111,17.855556
2007-12-31 18:00:00,2.800967,0.074589,236.184778,11.831111,0.0,0.316667,17.127778
2007-12-31 21:00:00,1.599567,0.064433,239.880944,6.602222,0.0,0.155556,17.655556